
/* DIVERSE */
.dot-blue {
    height: 1.5rem;
    width: 2rem;
    background-color: #216FA6;
    border-radius: 10px;
}

.dot-yellow {
    height: 1.5rem;
    width: 2rem;
    background-color: #E6A800;
    border-radius: 10px;    
}

.dot-red {
    height: 1.5rem;
    width: 2rem;
    background-color: #C25047;
    border-radius: 10px;
}

.dot-green {
    height: 1.5rem;
    width: 2rem;
    background-color: #3DA617;
    border-radius: 10px;
}

.divider-div{
    width: 45rem;
    border: 1px solid #D8D2CB; 
    margin-bottom: 20px;
}

/* FILTER */

.filter-row{
    margin-bottom: 30px;
}

/* KATEGORI BRUK */

.kategori-bruk-container{
    height: 30rem;
    border-radius: 10px;
    padding-top: 3rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 45px;
}

.width-div{
    width: 35rem;
    
}

.item-row {
    margin: 2rem;
}

.kategori-bruk-row {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    
}



.kategori-bruk-row {
    flex-wrap: wrap;
    align-items: center;

}



.kategori-bruk-text {
 text-align: center;
}

/* MÅNTLIG BRUK */ 

.line-chart-container{
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 70px;
    height: 35rem;
}


.line-chart{
    height: 30rem;
    margin-left: 80px;
}

/* PENGER SPART */

.penger-spart-container{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 70px;
    height: 30rem;
    
}

.filter-row{
    margin-top: 40px;
}
.filter-btn-2{
    width: 8rem;
}

.doughnut-chart-col{
    width: auto;
    height: 25rem;
}

.doughnut-info-col{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.doughnut-chart-col{
    align-content: space-around;
    margin-left: 50px;
}

.doughnut-chart{
    height: 20rem;
}